
.sort_button{
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: rgb(19, 132, 224);
    margin-bottom: 10px;
    cursor: pointer;
    p{
        margin-right: 7px;
    }
}

.sort__list{
    display: flex;
    position: absolute;
    width: 100px;
    border-radius: 7px;
    height: 200px;
    overflow-y: scroll;
  scroll-behavior: smooth;
    border: 2px solid black;
    background-color: rgb(229, 238, 236);
    ul{
        padding: 0;
        width: 100%;
        text-align: center;
    }

    li{
        list-style: none;
        width: 100%;
        cursor: pointer;
        &:hover{
            background-color:rgba(19, 132, 224, .3);

        }
    }
}
.active{
    background-color: rgb(19, 132, 224);
}

.btn{
    border: none;
    padding: 10px 15px;
    color: #fff;
    margin: 1px;
    border-radius: 7px;
    cursor: pointer;
}

.clear{
    background-color: rgb(201, 35, 35);
}

.search{
    background-color: rgb(19, 132, 224);
}

.full{
    background-color: rgb(109, 230, 39);
}