.App{
    // position: relative;
    width: 1200px;
    margin: 0 auto;
}

.filter-bar{
    // position: absolute;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}